html
  head
    title= title
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/skeleton.css')
    link(rel='icon', type='image/png', href='/static/images/favicon.png')
  body
    script
      include fanfare.js
    div(class='sounds')
      each val in [1,2,3,4,5,6]
        audio(id='audio-'+val,preload='auto')
          source(src='/static/'+val+'.mp3')
    div(class='container')
      h1(class='center')= message
      div(class='row')
        div(class='twelve columns', id='instrumentimages')
          img(src='/static/images/tuba.png', onClick='toggleInstrument(1);')
          img(src='/static/images/trompette.png', onClick='toggleInstrument(2);')
          img(src='/static/images/grosse.png', onClick='toggleInstrument(3);')
          img(src='/static/images/caisse.png', onClick='toggleInstrument(4);')
          img(src='/static/images/souba.png', onClick='toggleInstrument(5);')
          img(src='/static/images/trombone.png', onClick='toggleInstrument(6);')
      div(class='row')
        div(class='two columns')
          p(class='center indicator' id='indicator-1') ?
        div(class='two columns')
          p(class='center indicator' id='indicator-2') ?
        div(class='two columns')
          p(class='center indicator' id='indicator-3') ?
        div(class='two columns')
          p(class='indicator' id='indicator-4') ?
        div(class='two columns')
          p(class='indicator' id='indicator-5') ?
        div(class='two columns')
          p(class='indicator' id='indicator-6') ?
      div(class='row')
        div(class='12 columns')
          p(class='info') Currently 
            span#usercount ?
            |  here. This is a 
            a(href='https://pixelbar.nl/', target='_blank') Pixelbar
            |  project.